{% extends "base.html.j2" %}
{% block content %}
  <div class="container-flex justify-content-center">
    <div class="row justify-content-center">
      <!-- Add friend card -->
      <div class="col-sm-12 col-lg-6">
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title mb-3">Add a new friend</h4>
            <form action="" method="post" novalidate>
              <div class="mb-3">{{ form.username(class_="form-control") }}</div>
              <div>{{ form.submit(class="btn btn-primary") }}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- Your friends card -->
      {% if friends %}
        <div class="col-sm-12 col-lg-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Your friends</h4>
              <ul class="list-group list-group-flush">
                {% for friend in friends %}
                  <li class="list-group-item">
                    <a href={{ url_for('profile', viewer=username, username=friend.username) }}>{{ friend.username }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="row justify-content-center mt-3">
      <!-- Followers (people who added you) -->
      {% if followers %}
        <div class="col-sm-12 col-lg-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">People who added you</h4>
              <ul class="list-group list-group-flush">
                {% for follower in followers %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href={{ url_for('profile', viewer=username, username=follower.username) }}>{{ follower.username }}</a>
                      <!-- Provide quick add-back (posts to same page) -->
                      <form action="" method="post" class="m-0">
                        <input type="hidden" name="username" value="{{ follower.username }}">
                        <button type="submit" class="btn btn-sm btn-outline-primary">Add back</button>
                      </form>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
